* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

.App {
  min-height: 100vh;
}

.toast-container > div > div {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #61dafb;
  color: #282c34;
  font-weight: bold;
}
